* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
body {
  display: flex;
  justify-content: flex-start;
  min-width: 150vh;
  background: url(assets/codioful.jpg);
  background-size: cover;
  background-position: inherit;
}
.box {
  position: relative;
  border-radius: 20px;
  transform-style: preserve-3d;
  left: 190px;
  top: 40px;
}
.box .card {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  width: 300px;
  min-height: 400px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.75);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 25px 45px rgb;
  transform-style: preserve-3d;
}
.elements {
  position: absolute;
  top: 90px;
  left: -30px;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.052);
  transform: translateZ(80px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.75);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 25px 45px rgb(0,0,0,0.5);
}
.elements .bg ::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url(assets/Quotation-PNG.png);
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: 0.5s;
}
.box:hover .elements.bg::before {
  opacity: 1;
}
.elements.imgBx
{
    top: 0;
    left: initial;
    width: 120px;
    right: 60px;
    height: 120px;
    padding: 10px;
    transform: translateZ(120px);
}
.elements .imgBx img
{
    position: absolute;
    width: calc(100% - 100px);
}